<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <%- include('partials/header.ejs') %>
    <h1>Home</h1>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Expedita quidem
      harum hic cupiditate est officiis optio odit culpa praesentium obcaecati
      dolore, repellat magni consectetur dolor accusamus reiciendis vero labore!
      Natus, voluptates! Dolorum, itaque expedita maxime unde corporis labore,
      aliquam id quisquam sit consequuntur, temporibus dicta laboriosam
      exercitationem eum. Omnis, minima.
    </p>
    <%- include('partials/footer.ejs') %>
  </body>
</html>
